body{
    background-color: beige;
}

*{
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.containerprincipal{
}
.containercabeça{
    display: flex;
    width: 100%;
    justify-content: center;
    border: solid 0px;
    height: 20px;
    background-color: #0B2341;
    align-items: center;
}
.containercmc{
    display: flex;
    top: 0;
    width: 100%;
    border-bottom: solid 2px;
    height: 200px;
    background-color:#C1E6F5;
    align-items: center;
    justify-content:0;
    border-bottom-color: #5fa0cd;
    padding: 0px 300px;
}
.logo{
    display: flex;
    width: auto;
    border:  solid 0px;
    height: 149px;
    align-items: center;
}
.barra{
    display: flex;
    border: solid 1px;
    width: 1500px;
    height: 200px;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
}
.pesquisa{
    display: flex;
    border: solid 1px;
    border-color: aqua;
    width: 600px;
    height: 30px;
    border-radius: 0%;
    overflow: 0;
    align-items: center;
    padding: 15px 20px;
    outline: none;
    font-size: 18px;
    position: relative;
}
.pesquisa input{
    width: 100%;
    padding: 8px 150px 7px 10px;
    border: 2px solid #5fa0cd;
    border-radius: 30px;
    outline: none;
    font-size: 18px;
    color: #333;
    box-shadow: 0;
    font-family: 'Poppins', sans-serif;
}
.pesquisa input::placeholder{
    color:lightgray;
    font-family: 'Poppins', sans-serif;
}
.pesquisa form img{
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}
.contato{
    display: flex;
    height: 200px;
    width: 742px;
    border: solid 1px;
    border-color:red;
    align-items: top;
    justify-content: flex-end;
}
.prod{
    display: flex;
    width: 100%;
    border: solid 0px;
    height: auto;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
}

.text{
    display: flex;
    border-bottom: solid 2px;
    height: 60px;
    justify-content: center;
    margin: 10px;
    align-items: center;
    padding: 0 0 20px;
    border-bottom-color: #5fa0cd;
    width: 1250px;
}
.paineis{
    display: grid;
    border: solid 1px;
    width: 100%;
    height: 100px;
    grid-template-columns:100px 100px 100px 100px 100px 100px;
    justify-content: center;
    gap: 100px;
}
.img{
    border-radius: 50%;
    display: grid;
    border: solid 1px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: #5fa0cd;
}
.img img{
    display: block;
    object-fit: cover;
    width: 90px;
    transform:scale(1);
    transition: transform .35s ease;
}
.prods{
    display: flex;
    width: 100%;
    border: solid 1px;
    margin: 0px;
    flex-direction: row;
}
.prod1{
    display: flex;
    border-radius: 15px;
    width: 300px;
    height: 500px;
    border: solid 5px;
    margin: 50px;
    justify-content: center;
}

.prod2{

}
.prod3{

}
.prod4{

}
.imageprod1{
    display: flex;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.subprod1{
    display: flex;
    border: solid 1px;
    width: 20px;
    height: 20px;
}
p, h1 {
    font-family: Montserrat;
}
